<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Thymeleaf Page</title>
</head>
<body>
    <h1>Get Form</h1>
    <form action="/submit" method="POST">
        <input type="text" name="name" placeholder="Input name ..."/>
        <input type="text" name="address" placeholder="Input address ..."/>
        <button type="submit">Search</button>
    </form>
</body>
</html>